@font-face {
  font-family: sf;
  font-display: swap;
  src: url("../fonts/sf-pro-display-regular.woff2") format("woff2"), url("../fonts/sf-pro-display-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

picture,
img {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: sf, Arial, sans-serif;
  background-color: #fff;
}

.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 113px;
  padding-bottom: 58px;
}

h1 {
  display: none;
}

.fall-in-love {
  padding: 0 16px;
}

.fall-in-love__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 103px;
  margin-right: 12px;
}

.basic-functions {
  margin-top: 124px;
}

.basic-functions .section__title {
  padding: 0 16px;
}

.basic-functions__img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 144px;
  background-color: #f7f7f7;
  border-top: 3px solid #f7f7f7;
}

.water-protection {
  margin-top: 167px;
}

.water-protection .section__title {
  padding: 0 16px;
}

.water-protection__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
  margin-right: -103px;
}

.section__title {
  font-size: 71px;
  font-weight: 800;
  margin-left: 1px;
  letter-spacing: 1.9px;
}

.additional-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 187px -8px 0;
}

.additional-information > * {
  width: calc(50% - 16px);
  margin: 0 8px;
}

.additional-information > * > *:not(:last-child) {
  margin-bottom: 16px;
}

.additional-information__left > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 592px;
}

.additional-information__left > *:first-child {
  padding-top: 146px;
}

.additional-information__left > *:first-child picture {
  margin-left: 15px;
}

.additional-information__left > *:last-child {
  padding-top: 121px;
}

.additional-information__left > * .additional-information__title {
  margin-top: 46px;
}

.no-webp .additional-information__right > *:first-child {
  background: #f7f7f7 url("../img/watch_4.png") no-repeat right top; }

.additional-information__right > *:first-child {
  position: relative;
  height: 866px;
}

.additional-information__right > *:first-child .additional-information__title {
  position: absolute;
  left: 85px;
  top: 69px;
}

.additional-information__right > *:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 318px;
  padding-top: 101px;
}

.additional-information__right > *:last-child span {
  display: block;
  margin-bottom: 43px;
  font-size: 92px;
  letter-spacing: 4px;
  color: #00a900;
}

.additional-information__item {
  background-color: #f7f7f7;
}

.additional-information__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 45.5px;
  letter-spacing: 0.3px;
}

.main-characteristics {
  margin-top: 119px;
}

.main-characteristics .section__title {
  padding: 0 16px;
}

.main-characteristics__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 773px;
  max-width: calc(100% - 32px);
  margin: 86px auto 0;
  text-align: left;
  font-size: 25px;
}

.main-characteristics__item {
  position: relative;
}

.main-characteristics__item:not(:last-child):before {
  content: "";
  position: absolute;
  top: 100%;
  width: 143px;
  height: 1px;
  margin-top: 41px;
  background-color: #000;
}

.main-characteristics__left {
  width: calc(50% - 41px);
}

.main-characteristics__left > *:not(:last-child) {
  margin-bottom: 88px;
}

.main-characteristics__left > *:nth-child(2) {
  margin-bottom: 87px;
}

.main-characteristics__left > *:nth-child(2):before {
  margin-top: 45px;
}

.main-characteristics__left > *:nth-child(2):before,
.main-characteristics__left > *:nth-child(3):before {
  margin-top: 44px;
}

.main-characteristics__left > *:nth-child(4) {
  margin-bottom: 83px;
}

.main-characteristics__right {
  width: calc(50% - 47px);
}

.main-characteristics__right > *:not(:last-child) {
  margin-bottom: 82px;
}

.main-characteristics__right > *:nth-child(2) {
  margin-bottom: 80px;
}

.main-characteristics__right > *:nth-child(2):before {
  margin-top: 37px;
}

.main-characteristics__right > *:nth-child(3) {
  margin-bottom: 84px;
}

.main-characteristics__right > *:nth-child(4) {
  margin-bottom: 89px;
}

.main-characteristics__right > *:nth-child(4):before {
  margin-top: 46px;
}

.set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 145px;
}

.set__left {
  width: calc(57.584% - 16px);
  margin-right: 16px;
}

.set__left .set__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  padding-top: 187px;
}

.set__left .set__item picture {
  margin-top: 200px;
  margin-left: 20px;
}

.set__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.set__right .set__item {
  height: 592px;
  padding-top: 71px;
}

.set__right .set__item:first-child picture {
  margin-top: 124px;
}

.set__right .set__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 43px;
}

.set__right .set__item:not(:last-child) {
  margin-bottom: 16px;
}

.set__right .set__item .set__title {
  font-size: 44px;
  line-height: 45px;
  font-weight: 600;
}

.set__item {
  background-color: #f7f7f7;
}

@media (max-width: 1199px) {
  .section__title {
    font-size: 62px;
  }

  .water-protection__img {
    margin-right: 0;
  }

  .additional-information__title {
    font-size: 38px;
  }

  .additional-information__right > *:first-child .additional-information__title {
    left: 45px;
  }

  .additional-information__right > *:last-child span {
    margin-bottom: 37px;
    font-size: 86px;
  }

  .set__right .set__item .set__title {
    font-size: 38px;
  }
}

@media (max-width: 991px) {
  .section__title {
    font-size: 45px;
  }

  .additional-information__title {
    font-size: 32px;
    line-height: 38px;
  }

  .additional-information__right > *:first-child .additional-information__title {
    left: 20px;
    top: 40px;
  }

  .additional-information__right > *:last-child span {
    margin-bottom: 28px;
    font-size: 64px;
  }

  .set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .set__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .set__left .set__item {
    height: 800px;
    padding-top: 80px;
  }

  .set__left .set__item picture {
    margin-top: 80px;
  }

  .set__right .set__item {
    height: 600px;
    padding-top: 80px;
  }

  .set__right .set__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .set__item {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 60px;
  }

  .section__title {
    font-size: 34px;
  }

  .fall-in-love__img {
    margin-top: 60px;
  }

  .fall-in-love__img img {
    width: 350px;
    max-width: 100%;
  }

  .basic-functions {
    margin-top: 80px;
  }

  .basic-functions__img {
    margin-top: 60px;
  }

  .water-protection {
    margin-top: 80px;
  }

  .water-protection__img {
    margin-top: 60px;
  }

  .water-protection__img img {
    width: 350px;
    max-width: 100%;
  }

  .additional-information {
    margin: 80px 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .additional-information > * {
    width: 100%;
    margin: 0;
  }

  .additional-information > *:last-child {
    margin-top: 16px;
  }

  .additional-information__left > * {
    height: auto;
  }

  .additional-information__left > *:first-child,
  .additional-information__left > *:last-child {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .additional-information__left > * .additional-information__title {
    margin-top: 30px;
  }

  .additional-information__left > * img {
    width: 120px;
  }

  .no-webp .additional-information__right > *:first-child {
    background: #f7f7f7 url("../img/watch_4.png") no-repeat right center; }

  .additional-information__right > *:first-child {
    height: 500px;
  }

  .additional-information__right > *:first-child .additional-information__title {
    left: 65px;
    top: 69px;
  }

  .additional-information__right > *:last-child {
    height: auto;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .additional-information__right > *:last-child span {
    font-size: 56px;
  }

  .additional-information__title {
    font-size: 32px;
    line-height: 33.5px;
  }

  .main-characteristics {
    margin-top: 80px;
  }

  .main-characteristics__inner {
    margin-top: 60px;
    font-size: 19px;
  }

  .main-characteristics__left,
  .main-characteristics__right {
    width: calc(50% - 10px);
  }

  .main-characteristics__left > *:not(:last-child) {
    margin-bottom: 60px;
  }

  .main-characteristics__right > *:not(:last-child) {
    margin-bottom: 55px;
  }

  .main-characteristics__item:not(:last-child):before {
    width: 100%;
    margin-top: 28px;
  }

  .set {
    margin-top: 80px;
  }

  .set__left .set__item {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .set__left .set__item picture {
    height: 300px;
    margin-top: 60px;
    margin-left: 0;
  }

  .set__right .set__item {
    height: auto;
    padding-top: 60px;
  }

  .set__right .set__item picture {
    margin-top: 60px;
  }

  .set__right .set__item:first-child {
    padding-bottom: 60px;
  }

  .set__right .set__item:first-child picture {
    margin-top: 60px;
  }

  .set__right .set__item .set__title {
    font-size: 34px;
    line-height: 42px;
  }

  .set__title {
    padding: 0 16px;
  }
}

@media (max-width: 568px) {
  .main-characteristics__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-characteristics__left,
  .main-characteristics__right {
    width: 100%;
  }

  .main-characteristics__right {
    position: relative;
    margin-top: 60px;
  }

  .main-characteristics__right:before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 1px;
    margin-bottom: 28px;
    background-color: #000;
  }
}

@media (max-width: 480px) {
  .no-webp .additional-information__right > :first-child {
    background: #f7f7f7 url("../img/watch_4.png") no-repeat right -100px center; }

  .additional-information__right > :first-child .additional-information__title {
    top: 45px;
    left: 45px;
  }

  .set__title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 400px) {
  .section__title {
    font-size: 30px;
    line-height: 36px;
  }

  .additional-information__right > :last-child span {
    font-size: 46px;
  }

  .additional-information__title {
    font-size: 26px;
    line-height: 27.5px;
  }

  .set__right .set__item .set__title {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 350px) {
  .set__right .set__item .set__title {
    font-size: 27px;
    line-height: 36px;
  }
}

.webp .additional-information__right > *:first-child { background: #f7f7f7 url(../img/watch_4.webp) no-repeat right top; }

@media (max-width: 767px) {

  .webp .additional-information__right > *:first-child { background: #f7f7f7 url(../img/watch_4.webp) no-repeat right center; }
}

@media (max-width: 480px) {

  .webp .additional-information__right > :first-child { background: #f7f7f7 url(../img/watch_4.webp) no-repeat right -100px center; }
}